@charset "UTF-8";


.myPage_box{
	width:1280px;
	
}



.myPage_profile_bigBox{
	background-color:rgb(246, 246, 246);
	height: 220px;
	display: flex;
	
}


.myPage_profile_box{
	width:640px;
	height:220px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myPage_profileSmallBox{
	width:280px;
	height:150px;
	display: flex;
	
}

.myPage_profile_img{
	width:140px;
	height:140px;
	border-radius: 50%;
	border:2px solid black;
	
}


.myPage_profile_textAreabox{
	width: 140px;
	height: 140px;
	margin-left: 20px;
	
}


.myPage_profile_userName{
	margin-top:50px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	font-size: 20px;
	
}

.myPage_profile_userRecipe{
	margin-top: 13px;
	text-align: center;
}

.userRecipe{
	color: rgb(127, 127, 127);
}

.userRecipe_number1{
	color: rgb(231, 76, 60);
}
.userRecipe_number2{
	color: rgb(231, 76, 60);
}

.myPage_profile_changeBox{
	
	width:280px;
	height:150px;
	display: flex;
	justify-content: flex-end;
	align-items:flex-end;
	margin-left: 80px;
	
	
	
}

.profile_setting_Btn{
	width: 130px;
	height: 50px;
	box-shadow:none;
	border-radius:5px;
	border:1px solid rgba(242, 159, 5, 0.88);
	background-color: #fff;
	color: rgba(242, 159, 5, 0.88);
	

}
.profile_Edit_Btn{
	width: 130px;
	height: 50px;
	box-shadow:none;
	border-radius:5px;
	border:1px solid rgba(242, 159, 5, 0.88);
	background-color: #fff;
	color: rgba(242, 159, 5, 0.88);
}




.myPage_content_title{
	width: 1280px;
	height: 40px;
	display: flex;
}


.myPage_content_title_myRecipe{
	width: 640px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myPage_content_title_myRecipe:hover{
	border-bottom: 3px solid rgba(242, 159, 5, 0.88);
	cursor: pointer;
}

.myPage_content_title_scrap{
	width:640px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myPage_content_title_scrap{
	border-bottom: 3px solid rgba(242, 159, 5, 0.88);
	cursor: pointer;
}
	

.title_common_number{
	margin-left: 10px;
}

.ScrapList{
   width:1000px;
   height: auto;
   margin:auto;
   }
.Scrap_items{
   display: inline-block;
   margin-left:50px;
   margin-right:50px;
   margin-top:60px;
   width: 200px;
   height: 200px;
}

.Scrap_img img{
   width: 200px;
   height: 160px;
   border:1px solid black;
}

.pagingArea{
	width:1000px;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 30px;
}

.pagingArea button{
	width: 35px;
	height: 35px;
	border-radius: 5px;
	font-size: 15px;
	border-style: none;
	cursor: pointer;
}

.emptyList{
	width:1000px;
   	height: 350px;
   	margin:auto;
	margin-top: 200px;
}

.emptyfont{
	font-size: 25px;
	font-weight: 500;
}