@charset "UTF-8";


	.page {
		 width: 1000px;
		 height: 790px;
		 display: inline-block;
		 vertical-align: top;
	}
	
	#title{
		margin-top : 80px;
		text-align: center;
	}
	
	.admin_menu {
    	display: inline-block;
    }
    
    .member_list{
    	width : 950px;
    	height : 400px;
		margin: auto;
		margin-top: 20px;
		display: inline-block;
    }
    
    .member_table{
		text-align: center;
		border-collapse: collapse;
	}
	
	.member_table th{
		border-bottom: 1px solid black;
	}
	
	.member_table td{
		height: 35px;
		max-width: 140px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-bottom: 1px solid black;
		padding: 5px;
	}
	
	.buttonArea{
		text-align: right;
	}
	
	.buttonArea button {
		background: rgba(242, 159, 5, 0.88);
     	color:white;
     	border-radius: 7px;
     	border: 0px;
     	height: 30px;
     }    

	#pagingArea button{
		width: 35px;
		height: 35px;
		border-radius: 5px;
		font-size: 15px;
		border-style: none;
	}
    
