@charset "UTF-8";


	.page {
		 width: 1070px;
		 height: 790px;
		 display: inline-block;
		 vertical-align: top;
	}
	#title{
		margin-top : 80px;
		text-align: center;
	}
	
	.admin_menu {
    	display: inline-block;
    }
    
    .notice_list{
    	width : 950px;
    	min-height : 500px;
		margin: auto;
    }
    
	.notice_Table{
		text-align: center;
		border-collapse: collapse;
	}
	
	.notice_Table th{
		border-bottom: 1px solid black;
	}
	.notice_Table td{
		height: 35px;
		max-width: 140px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-bottom: 1px solid black;
		padding: 5px;
	}
	.buttonArea{
		text-align: right;
		width: 1000px;
	}
	.buttonArea button {
		background: rgba(242, 159, 5, 0.88);
     	color:white;
     	border-radius: 7px;
     	border: 0px;
     	height: 30px;
     	cursor: pointer;
     }
     
     #searchArea{
		width : 1070px;
		height: 30px;
		text-align: center;
		
	}
	
	#pagingArea{
		padding-top: 30px;
		text-align: center;
	}	

	#pagingArea button{
		width: 35px;
		height: 35px;
		border-radius: 5px;
		font-size: 15px;
		border-style: none;
		
	}   
	
	#searchCondition, #searchValue{
    	height: 30px;
    }
    
    #searchBtn{
     	color:black;
     	border-radius: 2px;
     	border: 0px;
     	height: 30px;
     	cursor: pointer;
    }
    
    
