@charset "UTF-8";


.page {
    width: 1200px;
    margin: auto;
}

#content{
padding: 0 0 150px;
}

.sec_term h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

h4+p {
    margin-bottom: 25px;
}
.sec_term{
    background: #f7f7f7;
    padding: 28px 52px 28px 32px;
    color: #989898;
    font-size: 14px;
    font-family: Microsoft YaHei, "NS";
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

.now{
	bol
}

.sec_term dd {
    margin-left: 266px;
    background: #f7f7f7;
    padding: 28px 52px 28px 32px;
    color: #989898;
    font-size: 14px;
    font-family: Microsoft YaHei, "NS";
     line-height: 25px;
}

.sec_term .now {
    width: auto;
}
.sec_term .now {
    font-size: 25px;
	width: 210px;
    font-weight: bold;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.sec_term h4+ol, .sec_term h4+ul, .sec_term h4+p {
    margin-bottom: 25px;
}

.sec_term dt {
    float: left;
    clear: left;
    height: 125px;
    color: #686868;
    font-size: 29px;
    font-family: Microsoft YaHei, "NST";
    font-weight: 100;
}

ol, ul {
    list-style: none;
}

ol ol {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#content li {
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 25px;
}
