@charset "UTF-8";

	.insertSpe_main{
		margin-top: 70px;
		margin-bottom: 150px;
	}
	
	.insertSpe_text{
		width: 500px;
		height: 800px;
		background: #F6F6F6;
	}
	
	.insertSpe_text h2{
		font-size: 35px;
	}
	
	
	.insertSpe_text p{
	text-align: left;
	margin-left: 50px;
	}
	
	
	.insertSpe_text button{
		width:150px;
		height:40px;
		font-weight: bold;
		border-style: none;
		border-radius: 4px;
		margin-top: 20px;
		background: #D1CBC2;
		color: white;
	}
	
	#button1{
		background: #F29F05;
	}
	.regionTable td{
		border: 1px solid black;
		font-size: 15px;
		text-align: center;
	}

