@charset "UTF-8";


.footer{
	width:1280px;
	height:200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: rgb(51, 51, 51);
}
	/* footer 배치 부분 */
	#sns_link{
		float: right;
	}
	#introduce_company{
	}
	#company_name{
	padding-top: 30px;
	}
	#contact_info{
	padding-top: 10px;
	}
	#sns_img{
	margin-right: 20px;
	}
	#copyright{
	padding-left: 40px;
	}
	#bar{
		width: 1280px;
		height: 2px;
		background-color:rgb(224, 224, 224);
	}