@charset "UTF-8";

@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

/* @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); 구글폰트- 도현체 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


body{
	width:100wh;
	width:1280px;
	height: 1830px;
	margin: auto;
	/* font-family: 'Do Hyeon', sans-serif; */
	font-family: 'Noto Sans KR', sans-serif;
	
}
