@charset "UTF-8";

.main{
	width:1280px;
}

.clear{
	clear: both;
}

.main_image{
	width: 1280px;
	height: 450px;
}

.main_mapBox{
	height: 500px;
	margin-top: 50px;
}
.main_mapBox_contentBox{
	height: 380px;
}

.PopularFoodImageArea{
	vertical-align: top;
	width: 280px;
	height: 370px;
		border: 3px solid #f0f0f0;
	background : #FFFAFA;
	display: inline-block;
	margin-left: 28px;
	text-align: center;
}

.PopularFoodImage{
	width: 280px;
	height: 200px;
	margin-bottom: 20px;
}
.SpeFoodImage{
	width: 280px;
	height: 200px;
	margin-bottom: 20px;
}
.SpeFoodImageArea{
	vertical-align: top;
	width: 280px;
	height: 370px;
	border: 3px solid #f0f0f0;
	background : #FFFAFA;
	display: inline-block;
	margin-left: 28px;
	text-align: center;
	
}
.recipeTitle , .sperecipeTitle{
	width: 250px;
	height: 30px;
	margin: auto;
	font-size: 20px;
	text-overflow : ellipsis;
	white-space : nowrap; 
	overflow : hidden;
	font-weight: bold;
}
.recipeInfo, .sperecipeInfo{
	width: 250px;
	height: 30px;
	margin: auto;
	font-size: 17px;
	padding: 5px;
	text-overflow : ellipsis;
	overflow : hidden;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.recipeTime, .speTime{
	width: 250px;
	height: 30px;
	margin: auto;
	font-size: 17px;
	text-overflow : ellipsis;
	white-space : nowrap;
	overflow : hidden;
}
#startBtn{
	margin-left : 545px;
	margin-top : 320px;
	background: #F29F05;
	color:white;
	font-size : 18px;
	font-weight : bold;
	width: 200px;
	height: 50px;
	border :0px ;
	border-radius: 20px;
	cursor: pointer;
	}



.main_mapBox_title{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.bread_cap{
	width:30px;
	height: 30px;
	margin-left:20px; 
}



/* 냉장고레시피 */
.materialRecipe{
	width:1280px;
    min-height: 500px;
    background: #fffcf4;
}

.main_myRecipe{
   
   width:1000px;
   height: 500px;
   display: flex;
   flex-direction: row;
   margin: auto;
}


.left_area{
	width:650px;
	height: 500px;
	
}


.right_area{
	width:450px;
	height: 472px;
	border :1px solid #c4c4c4;
	background: white;
}

.right_box_title{
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:rgb(255 154 146);
	font-size: 15px;
	margin-bottom: 5px;
}

.right_box_content{
	height:330px;
	
}

.right_box_bottomTitle{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recomBtn{
	width:300px;
	height: 50px;
	border: 1px solid rgb(248 141 130);
	background: white;
	font-size: 15px;
	border-radius: 7px;
}

.left_box_find{
	height: 70px;
}

.srchIng{
	border :1px solid #c4c4c4;
	height: 50px;
	width: 630px;
	font-size: 20px;
}

.left_box_sort{
	display: flex;
	flex-direction: row;
}
.bigsort{
	border :1px solid #c4c4c4;
	width: 200px;
	height:402px;
	overflow: auto;
	background: white;
}

.bigsort ul>li{
	width:180px;
	height:50px;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	
}
.smallsort{
	width: 450px;
	height:430px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.smallsort{
	width: 450px;
	height:404px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.sortcontent{
	border :1px solid #c4c4c4;
	width:415px;
	height:400px;
	margin:15px;
	display: inline-block;
	overflow: auto;
	background: white;
}

.selecteditems{
	margin : 7px;
	width:77px;
	height: 77px;
	border-radius:50%; 
	background:rgba(239, 182, 176, 0.74);
	border-style: none;
}

.items{
	margin : 7px;
	width:77px;
	height: 77px;
	border-radius:50%; 
	background: rgba(224, 224, 224, 0.67);
	border-style: none;
}


.green{
	color:rgba(166, 188, 5, 0.99);
}
.pink{
	color:rgb(231, 76, 60);
}
.orange {
	color : rgb(243, 156, 18);
}