@charset "UTF-8";

.main{
	width:1280px;
}

.clear{
	clear: both;
}

.countarea{
	 width:1280px; height:300px;  
	margin:auto; position: relative;top: 20%; 
}
.counttext{
	color:#313131;; text-align: center; position: relative;top: 20%;
}

.main_image{
	width: 1280px;
	height: 450px;
}

#startBtn{
	margin-left : 535px;
	margin-top : 320px;
	background: #F29F05;
	color:white;
	font-size : 22px;
	font-weight : bold;
	width: 220px;
	height: 60px;
	border :0px ;
	border-radius: 25px;
	cursor: pointer;
	}

.main_mapBox{
	height: 600px;
}

.main_mapBox_title{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.bread_cap{
	width:50px;
	height: 50px;
	margin-left:20px; 
}
.main_mapBox_contentBox{
	height: 550px;
	display: flex;
	flex-direction: row;
	
}


.main_mapBox_leftBox{
	width:640px;
	height: 550px;
	overflow: hidden;
	margin: 0 auto;
		
}

.main_mapBox_leftBox img{
	
	width: 100%;
	height: 100%;
	object-fit : contain;
	
}


.main_mapBox_rightBox{
	width: 640px;
	height: 550px;
	flex-direction: row;
}

.main_mapBox_rightBox_localTable{
	height: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.localTable{
	width:420px;
	height:200px;
	justify-content: center;
	align-items: center;
	
}

.localTable tr,th {
	border:1px solid black;
	width: 300px;
	height: 40px;	
	
}

.main_mapBox_rightBox_localFoodImage{
	height: 275px;
	overflow: hidden;
	margin : 0 auto;
}

.main_mapBox_rightBox_localFoodImage img{
	width: 100%;
	height: 100%;
	object-fit : contain;
}



/* 냉장고레시피 */


.main_myRecipe{
   
   width:1000px;
   height: 500px;
   display: flex;
   flex-direction: row;
   margin: auto;
}


.left_area{
	width:650px;
	height: 500px;
	
}


.right_area{
	width:450px;
	height: 500px;
	border: 1px solid lightgray;
}

.right_box_title{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(239, 182, 176, 0.74);
}

.right_box_content{
	height:330px;
	
}

.right_box_bottomTitle{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recomBtn{
	width:300px;
	height: 85px;
	border: 1px solid pink;
	background: white;
}

.left_box_find{
	height: 70px;
}

.srchIng{
	height: 60px;
	width: 630px;
	font-size: 30px;
}

.left_box_sort{
	display: flex;
	flex-direction: row;
}
.bigsort{
	width: 200px;
	height:430px;
	
	overflow: auto;
}

.bigsort ul>li{
	width:180px;
	height:50px;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	
}
.selected_li{
	width:180px;
	height:50px;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(239, 182, 176, 0.74);
}
.smallsort{
	width: 450px;
	height:430px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.sortcontent{
	width:400px;
	height:400px;
	margin:15px;
	display: inline-block;
	padding:auto;
	overflow: auto;
}

.selecteditems{
	margin : 7px;
	width:85px;
	height: 85px;
	border-radius:50%; 
	background:rgba(239, 182, 176, 0.74);
	border-style: none;
}

.items{
	margin : 7px;
	width:85px;
	height: 85px;
	border-radius:50%; 
	background:lightgray;
	border-style: none;
}


.green{
	color: rgb(169, 191, 4);
}
.pink{
	color:rgb(231, 76, 60);
	
}