<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>인증메일</title>
</head>
<body>
	
	<table border="0" style="background: #f2d505e0" cellpadding="0" cellspacing="5" width="650">
				<tbody><tr>
				<td style="padding: 40px 10px 40px; text-align: left; font-size: 25px; font-weight: bold">콕콕!쿡쿡!&nbsp;&nbsp;계정
			</td></tr></tbody></table>
			
	<h2 style="font-weight: bold">이메일인증입니다.</h2>
	<h4>아래 인증번호를 확인하여 이메일 주소 인증을 완료해주세요.</h4>
			
	<div style="margin-top: 20px; background-color:#d3d3d354; text-align: center; border-top: 0.5px solid lightgray; border-bottom: 0.5px solid lightgray; width: 650px;">
	<br>
	<span th:text="${userName}"></span>님
	<p>인증번호는 다음과 같습니다.</p>
	<span th:text="${checkNum}"></span>
	<br>
	<br>
	</div>
	
	<div style="margin-top: 50px; color:lightgrey; border-top: 0.5px solid gray; width: 800px;">
	<p>본 메일은 발신전용입니다.</p>
	<p>CCCC계정과 관련하여 궁금한 점이 있으시면 QNA게시판을 이용해주세요.</p>
	<p>Copyright CCCC All Rights reserved.</p>
	</div>
</body>
</html>