<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background: pink">
	<div>
		<img  src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcEl7A7%2Fbtq8wkW0FiI%2FzKqnmSJGIQTfqkQcyXkXO0%2Fimg.png"/>
	</div>
	
	<h1 style="color: aqua; font-weight: bold">안녕하세요 콕콕! 쿡쿡! 입니다.</h1>
	<span th:text="${userName}"></span>
	<img th:src="@{resources/images/cccc_logo.PNG}"/>
	<p>이메일 인증 번호를 입력해주세요 </p>
	<p>인증번호는 다음과 같습니다.</p>
	<span th:text="${checkNum}"></span>

</body>
</html>