@charset "UTF-8";

.insertRecipe_pageTitle{
	width: 1280px;
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	margin-top: 50px;

}


.insertRecipe_subTtitleBox{
	margin-top: 40px;
	width: 1280px;
	height: 50px;
	display: flex;

	
}

.insertRecipe_subTitile{
	font-size: 25px;
	width: 200px;
	
}

.insertRecipe_inputBox{
	background-color: pink;
	width: 600px;
	margin-left: 60px;
	
}


.insertRecipe_foodInfoBox{
	width: 1280px;
	height: 400px;
	margin-top:40px;
	display: flex;
}

.insertRecipe_foodInfoTitle{
	font-size: 25px;
	width: 200px;
	
	
}

.insertRecipe_foodContentBox{
	margin-left: 60px;	
	width:600px;
	
}

.insertRecipe_food_inputBox{
	margin-top: 15px;
	width: 600px;
	background-color: pink;
	height: 50px;
}

.insertRecipe_food_ingredient_title{
	
	margin-top: 10px;
}

.insertRecipe_food_ingredient_subTitle{
	color: rgb(158, 158, 158);
	font-size: 13px;
	margin-top: 5px;

}


.insertRecipe_food_ingredient_contentBox{
	margin-top:20px;
	width: 600px;
	height: 200px;
	background-color: pink;

}

.insertRecipe_food_ingredient_plusBtn{
	text-align: right;
	color: rgba(242, 159, 5, 0.88);
	margin-top: 10px;
}


.insertRecipe_recipeInfoBox{
	display: flex;
	width:1280px;
	height: 600px;


}

.insertRecipe_recipeInfoTitle{
	width: 200px;
	height: 50px;
	font-size: 25px;
	margin-top: 40px;
}

.insertRecipe_recioeInfoContentBox{
	width: 600px;
	margin-left: 60px;
}


.insertRecipe_recipe_makeTime{
	margin-top:40px;
	height:40px;
	background-color: pink;
}

.insertRecipe_recipe_explaination{
	margin-top:20px;
	font-size:13px;
	color: red;
}

.insertRecipe_recipe_insertImg{
	width: 600px;
	height: 400px;
	background: pink;
}



.insertRecipe_recipe_insertImgBtn{
	color: rgba(242, 159, 5, 0.88);
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.insertRecipe_recipe_btnDetail{	
	margin-left: 10px;
}









