@charset "UTF-8";

.total_area{
	width: 1000px;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}

.title{
	text-align:center;
	display: inline;
	margin: auto;
	font-size: 35px;
	border-bottom: 4px solid rgb(232,126,115);
}

.item{
	width:1000px;
	height:215px;
	margin: auto;
	border-bottom: 1px solid lightgray;
	padding-top: 40px;
}

.left{
	float:left;
}
.right{
	padding-top: 60px;
	margin:auto;
	display: inline-block;
	margin-left: 30px;

}

.event_img{
	width:575px;
	height:200px;
}

.event_Title{
	height : 25px;
	text-decoration:none;
	color:black;
	display : inline-block;
	width:380px;
	text-align: left;
	font-size: 20px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;


}

.event_period{
	text-align: center;
	font-size: 15px;
}

.pagingArea{
	padding-top: 20px;
	padding-bottom: 100px;
	text-align: center;
}

.pagingArea button{
	width: 35px;
	height: 35px;
	border-radius: 5px;
	font-size: 15px;
	border-style: none;
	cursor: pointer;
}
#survey1{
	pointer-events: none; 
	cursor: default;
}