@charset "UTF-8";

/* 관리자 페이지 */

.mainArea{ /* detail_form의 width가 변경되면 mainArea의 width도 같이 변경 */
	width:800px;
	margin: auto;
	
	margin-bottom: 100px;
}

.title{
	text-align:center;
	padding-top: 70px;
	width:200px;
	margin: auto;
	font-size: 40px;
	float: left;
	padding-bottom: 40px;
}

.detail_form{
	width: 800px;
}

.detail_form th{
	width: 200px;
	background: rgb(237,237,237);
	border-style: none;
	vertical-align: middle;
}

.detail_form th,td{
	border-bottom: 1px solid #b7b7b7;
}

.detail_title{
	border-top: 1px solid black;
	height: 60px;
}

.detail_image{
	height: 250px;
}

.detail_content{
	border-style:none;
	border-bottom: 1px solid black;
	height: 600px;
}

.detail_text{
	font-size: 20px;
	vertical-align: middle;
	padding-left: 40px;
}

.btn_area{
	width:800px;
	text-align: center;
}

.btn_area button{
	width:150px;
	height:40px;
	font-weight: bold;
	border-style: none;
	border-radius: 4px;
	margin-top: 20px;
	background: #D1CBC2;
	color: white;
}

.subtn{
	width:150px;
	height:40px;
	font-weight: bold;
	border-style: none;
	border-radius: 4px;
	margin-top: 20px;
	background: #F29F05;
	color: white;
}



/* 사용자 페이지 */
.u_mainArea{ /* detail_form의 width가 변경되면 mainArea의 width도 같이 변경 */
	width:800px;
	margin: auto;
	
	margin-bottom: 100px;
}

.u_title{
	text-align:left;
	padding-top: 70px;
	width:800px;
	margin: auto;
	font-size: 35px;
	float: left;
	padding-bottom: 40px;
}

.u_top{
	width: 800px;
	margin: auto;
}

.u_t_img{
	width: 800px;
	height: 1000px;
}

.u_bottom{
	width: 800px;
	text-align: center;
}
.u_bottom div{
	display: inline-block;
}
.u_items{
	margin-top: 30px;
	margin-bottom: 30px;
	width:150px;
	height:150px;
}
.u_items img{
	width:150px;
	height: 150px;
}

.u_e_text{
	width:800px;
	border-top: 1px solid #b7b7b7;
}

.u_detail_text{
	margin-top: 23px;
	font-size: 25px;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}
