@charset "UTF-8";

.page{
    width: 300px;
    height: 430px;

    margin: auto;
}
.mate_title{
    text-align:center;
    width:100px;
    margin: auto;
    font-size: 23px;
    font-weight: bold;
    border-bottom: 2px solid #F29F05;
}

.mate_main{
    margin: auto;
}
.input_mateName{
    width:400px;
    height:32px;
    margin-bottom: 10px;
    font-weight: bold;
}
.mate_label{
    float:left;
    width:75px;
    height: 30px;
    margin-right: 5px;
}
.input_blank{
    width:300px;
    height:30px;
    float: right;
   
}

.input_blank input{
    width:180px;
    height:29px;
}
.labels{
    width:200px;
    height: 30px;
    font-weight: bold;
}
#classFi{
	width: 190px;
	height: 35px;
}
.add{
    width:65px;
    height:25px;
    border-radius: 5px;
    border-style: none;
    background: #F29F05;
    color: white;
}

.reset{
    width:65px;
    height:25px;
    border-radius: 5px;
    border-style: none;
    background: #D1CBC2;
    color: white;
}

.btn_area{
    width:300px;
    text-align: center;
}
.btn_area button{
    width:80px;
    height:30px;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
    margin-top: 20px;
    background: #D1CBC2;
    color: white;
}

.subtn{
    width:80px;
    height:30px;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
    margin-top: 20px;
    background: #F29F05;
    color: white;
}