@charset "UTF-8";



.popUp_box{
	width: 800px;
	height: 2500px;
	border: 1px solid red;
	margin: auto;	
}


.recipe_name{
	height:70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border:1px solid aqua;
	font-size: 30px;
}


.bread_cap{
	width:50px;
	height: 30px;
	margin-left:20px; 
}


.popUp_contentBox{
	width: 800px;
	height: 800px;
	border: 1px solid blue;
	display: flex;
	flex-direction: row;
}



.popUp_contentBox_leftBox{
	width: 600px;
	height: 800px;
	
	
}



.popUp_contentBox_leftBox_recipeImg{
	width: 500px;
	height: 400px;
	background-color: pink;
	text-align: center;

}

.popUp_contentBox_leftBox_recipeSubImg{
	margin-top:20px;
	width: 500px;
	height: 180px;
	background-color: #A9D0F5;
	text-align: center;
}

.nutritionFacts_listTitle{
	width: 500px;
	height: 40px;
	background-color: #D8D8D8;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

.popUp_contentBox_leftBox_tagTitle{
	margin-top :30px;
	width: 500px;
	height: 40px;
	background-color: #D8D8D8;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

.popUp_contentBox_leftBox_tagList{
	width: 500px;
	height: 120px;
	background-color: #F6D8CE;
	text-align: center;
	
}



.popUp_contentBox_leftBox_recipeTitle{
	margin-top :30px;
	width: 500px;
	height: 40px;
	background-color: #D8D8D8;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}


.popUp_contentBox_leftBox_recipeDetail{
	
	margin-top: 30px;
	width: 500px;
	min-height: 900px;
	background-color: #F5A9F2;
	text-align: center;
}

.popUp_contentBox_leftBox_reviewTitle{
	
	margin-top :30px;
	width: 500px;
	height: 40px;
	background-color: #D8D8D8;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	
	
}


.popUp_contentBox_leftBox_writeReview{
	
	margin-top:30px;
	width: 500px;
	height: 200px;
	background-color: #F2E0F7;
}

.popUp_contentBox_leftBox_list{
	
	width: 500px;
	height: 160px;
	text-align: center;
	
	
}

.popUp_contentBox_righttBox{
	width: 200px;
	height: 800px;
	background-color: rgba(224, 224, 224, 0.54);
}





.popUp_contentBox_righttBox_profileBox{
	height: 150px;
	
	
}

.popUp_contentBox_righttBox_profileBox_innerBox{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	height: 150px;
	
}

.popUp_usreName{
	margin-top: 10px;
}


.popUp_contentBox_righttBox_title{
	height:70px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.popUp_contentBox_righttBox_cookTime{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popUp_contentBox_righttBox_scrapBtnBox{
	text-align: center;
	margin-top: 10px;
	
}

.scrapBtn{
	width: 120px;
	height: 30px;
	background-color:#fff;
	color: rgba(242, 159, 5, 0.88);
	border-style: none;
	border-radius: 8px;
	font-family: 'Do Hyeon', sans-serif;
}

.popUp_contentBox_righttBox_snsLogo{
	text-align: center;
	margin-top: 20px;
}

.popUp_contentBox_righttBox_listTitle{
	text-align: center;
	margin-top: 30px;
}

.popUp_contentBox_righttBox_list{
	width:160px;
	height: 330px;
	overflow: auto;	
	margin: auto;
	margin-top: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nutTable{
	width:500px;
	height:160px;
	border: 1px solid black;
}

.nut_items_top{
	width:100px;
	height:60px;
	vertical-align: middle;
}

.nut_items_bot{
	width:100px;;
	height:100px;
	vertical-align: middle;
	background-size: 95% 95%;
	background-repeat: no-repeat;
}


.rp_mate_list li{
	background-color: white;
	width:130px;
	height:40px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.rp_items{
	
}

.rp_items img{
	width:400px;
	height:400px;
	background-color: blue;
}


