@charset "UTF-8";

.searchRecipe_main{
   margin-top: 40px;
   margin-bottom: 150px;
}

.searchRecipe_option select{
   width: 130px;
   height: 35px;
   margin-right: 100px;
}

.searchRecipe_thumnail h3{
   font-size: 20px;
   margin-left: 30px;
}



.recipeList{
   width:1100px;
   height: auto;
   margin:auto;
   }

.recipe_items{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    width: 230px;
    height: 160px;
}

.recipe_img img{
   width: 230px;
   height: 160px;
   border:1px solid black;
}

.pagingArea{
	width:1280px;
	margin-top: 50px;
	text-align: center;
}

.pagingArea button{
	width: 35px;
	height: 35px;
	border-radius: 5px;
	font-size: 15px;
	border-style: none;
	cursor: pointer;
}