@charset "UTF-8";

.searchRecipe_main{
   margin-top: 40px;
   margin-bottom: 150px;
}

.searchRecipe_option select{
   width: 130px;
   height: 35px;
   margin-right: 100px;
}

.searchRecipe_thumnail h3{
   font-size: 20px;
   margin-left: 30px;
}



.recipeList{
   width:1000px;
   height: auto;
   margin:auto;
   }

.recipe_items{
   display: inline-block;
   margin-left:50px;
   margin-right:50px;
   margin-top:60px;
   width: 200px;
   height: 200px;
}

.recipe_img img{
   width: 200px;
   height: 160px;
   border:1px solid black;
}