@charset "UTF-8";

.noticeList_main{
	margin-top: 70px;
	margin-bottom: 150px;
}

.noticeList h2{
	display: inline;
	font-size: 35px;
	border-bottom: 4px solid #E87E73;
}
button{
	cursor: pointer;
}

#notice_one{
	width: 1000px;
	height: 70px;
	border-collapse: separate;
	border-spacing: 0 20px;
	
}

#notice_one td{
	font-size: 20px;
	padding: 25px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#notice_one tr{
	z-index: 0;
	border: 1px solid black;
}

#notice_one p{
	opacity: 0.5;
	
}

.notice_first_row{
	border-left: 1px solid black;
	font-weight: 550;
}

.notice_last_row{
	border-right: 1px solid black;
}

.pagingArea{
	width:1280px;
	margin-top: 50px;
	text-align: center;
}

.pagingArea button{
	width: 35px;
	height: 35px;
	border-radius: 5px;
	font-size: 15px;
	border-style: none;
	cursor: pointer;
}
.noticeList a{
	text-decoration: none;
	color: #787878;
}
.noticeList button{
	width:120px;
	height:40px;
	font-weight: bold;
	border-style: none;
	border-radius: 4px;
	margin-left: 880px;
	background: #D1CBC2;
	color: white;
	background: #F29F05;
}
