<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">
	<select id="selectEventList" resultMap="eventResultSet">
		SELECT *
		FROM EVENT
		WHERE EVENT_STATUS='Y'
		ORDER BY EVENT_NO ASC
	</select>
	
	
	<resultMap type="com.kh.Final_cccc.Event.model.vo.Event" id="eventResultSet">
	<id property="eventNo" column="EVENT_NO"/>
		<result property="eventContent" column="EVENT_CONTENT"/>
		<result property="eventStatus" column="EVENT_STATUS"/>
		<result property="userNo" column="USER_NO"/>
		<result property="eventTitle" column="EVNET_TITLE"/>
		<result property="eventStart" column="EVENT_START"/>
		<result property="eventEnd" column="EVENT_END"/>
		<result property="eventCreateDate" column="EVENT_CREATE_DATE"/>
		<result property="eventModifyDate" column="EVENT_MODIFY_DATE"/>
	</resultMap>
</mapper>