<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="filesMapper">

	<insert id="insertFiles" >
		INSERT INTO TABLE_FILE (FILE_NO, FILE_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_YN, REF_NO, REF_FLAG )
		VALUES (SEQ_FILE_NO.NEXTVAL,#{fileName},#{changeName},#{filePath},SYSDATE,#{fileYn}, SEQ_EVENT_NO.CURRVAL ,2)
		
	</insert>
	
	<update id="updateFiles">
		update TABLE_FILE
		<set>
			file_name = #{fileName}, change_name = #{changeName}, file_path = #{filePath}, upload_date = sysdate, file_yn = #{fileYn},
			ref_flag = 2
		</set>
		where file_no = #{fileNo}
	</update>
	
	<select id="selectFiles" resultMap="filesResultSet">
		SELECT *
		FROM TABLE_FILE
		WHERE REF_NO = #{eventNo} AND REF_FLAG = 2 
	</select>
	
	<!-- 레시피 보기 -->
	<select id="selectRTFiles" resultMap="filesResultSet">
		SELECT * FROM TABLE_FILE
		WHERE REF_NO = #{recipeNo} AND REF_FLAG = 1
	</select>
	
	<select id="selectRFiles" resultMap="filesResultSet">
		SELECT * FROM R_PROCESS, TABLE_FILE
		WHERE RP_NO = REF_NO AND RECIPE_NO = #{recipeNo} AND REF_FLAG = 4
		ORDER BY REF_NO
	</select>
	
	<select id="selectsubFiles" resultMap="filesResultSet">
		SELECT FILE_NO, FILE_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_YN, REF_NO, REF_FLAG 
		FROM TABLE_FILE, RECIPE
		WHERE RECIPE_NO = REF_NO AND SORT_SUB = #{sort_no} and FILE_YN='Y' AND R_STATUS='Y'
		ORDER BY REF_NO
	</select>
	
	<select id="selectmateFiles" resultMap="filesResultSet">
		SELECT FILE_NO, FILE_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_YN, REF_NO, REF_FLAG 
		FROM TABLE_FILE, RECIPE
		WHERE RECIPE_NO = REF_NO AND SORT_MATE = #{sort_no} and FILE_YN='Y' AND R_STATUS='Y'
		ORDER BY REF_NO
	</select>
	
	<select id="selectspecFiles" resultMap="filesResultSet">
		SELECT FILE_NO, FILE_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_YN, REF_NO, REF_FLAG 
		FROM TABLE_FILE, RECIPE
		WHERE RECIPE_NO = REF_NO AND SORT_SPEC = #{sort_no} and FILE_YN='Y' AND R_STATUS='Y'
		
	</select>
	
	<resultMap type="com.kh.Final_cccc.Files.vo.Files" id="filesResultSet">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="fileYn" column="FILE_YN"/>
		<result property="refNo" column="REF_NO"/>
		<result property="refFlag" column="REF_FLAG"/>
	</resultMap>
	
	<select id="selectFilesList" resultMap="filesResultSet"> 
		SELECT * 
		FROM TABLE_FILE
		WHERE REF_FLAG = 2 and FILE_Yn = 'Y'
		ORDER BY FILE_NO DESC
	</select>
	
	<select id="selectAdminFilesList" resultMap="filesResultSet"> 
		SELECT * 
		FROM TABLE_FILE
		WHERE REF_FLAG = 2 and FILE_Yn = 'Y'
		ORDER BY FILE_NO DESC
	</select>
	
	<!-- 레시피 삽입 -->
	<insert id="insertRFiles" >
		INSERT INTO TABLE_FILE (FILE_NO, FILE_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_YN, REF_NO, REF_FLAG )
		VALUES (SEQ_FILE_NO.NEXTVAL,#{fileName},#{changeName},#{filePath},SYSDATE,#{fileYn}, SEQ_RP_NO.CURRVAL ,4)		
	</insert>
	
	<insert id="insertRTFiles" >
		INSERT INTO TABLE_FILE (FILE_NO, FILE_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_YN, REF_NO, REF_FLAG )
		VALUES (SEQ_FILE_NO.NEXTVAL,#{fileName},#{changeName},#{filePath},SYSDATE,#{fileYn}, SEQ_RECIPE_NO.CURRVAL ,1)		
	</insert>
	
	<select id="selectChangeName" resultType="String">
        SELECT CHANGE_NAME
        FROM TABLE_FILE
        WHERE REF_NO = #{user_no} AND REF_FLAG=3
    </select>
    
    
    <delete id="delete_user_profile">
    
    	delete from table_file where ref_no=#{user_no} and ref_flag = 3
    
    </delete>
    
    
    
    
    
    
</mapper>