<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="materialMapper">
	
	<insert id="insertMate" >
		INSERT INTO MATERIAL VALUES(SEQ_MATERIAL_NO.NEXTVAL, #{materialName} ,
		#{standard} , #{kcal} , #{protein} , #{fat} , #{carbo} , #{sugar} , #{classFi} , 'Y' )
	
	</insert>
	
	<update id="deleteMateStatus">
		update material
		set status='N'
		where material_NO = #{materialNo}
	</update> 
</mapper>