<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

<!-- 	<select id="login" resultMap="memberResultSet">
		select * 
		from MEMBER
		where member_id=#{id} and member_pwd=#{pwd} and status='Y'
		where user_id=#{user_id} and user_pass=#{user_password} and status='Y'
	</select>
	<resultMap type="Member" id="memberResultSet">
		<id column="user_NO" property="user_no"/>
		<result column="USER_ID" property="user_id"/>
		<result column="USER_PASS" property="user_password"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="EMAIL" property="email"/>
		<result column="GENDER" property="gender"/>
		<result column="AGR" property="age"/>
		<result column="AUTHORITY" property="authority"/>
		<result column="STATUS" property="status"/>
		<result column="SURVEY_YN" property="survey_yn"/>
		<result column="USER_NAME" property="user_name"/>
		<result column="U_CRE_DATE" property="u_cre_date"/>
		<result column="U_MOD_DATE" property="u_mod_date"/>
		<result column="U_DEL_DATE" property="u_del_date"/>
		<result column="PASS_CNT" property="pass_cnt"/>
			
	</resultMap> -->
	
	
	
		<select id="loginCheck" resultMap="memberResultSet">
		select * 
		from MEMBER
<!-- 		where member_id=#{id} and member_pwd=#{pwd} and status='Y' -->
		where user_id=#{user_id} and status='Y'
	</select>
	<resultMap type="Member" id="memberResultSet">
		<id column="user_NO" property="user_no"/>
		<result column="USER_ID" property="user_id"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="EMAIL" property="email"/>
		<result column="GENDER" property="gender"/>
		<result column="AGR" property="age"/>
		<result column="AUTHORITY" property="authority"/>
		<result column="STATUS" property="status"/>
		<result column="SURVEY_YN" property="survey_yn"/>
		<result column="USER_NAME" property="user_name"/>
		<result column="U_CRE_DATE" property="u_cre_date"/>
		<result column="U_MOD_DATE" property="u_mod_date"/>
		<result column="U_DEL_DATE" property="u_del_date"/>
		<result column="PASS_CNT" property="pass_cnt"/>
			
	</resultMap>
	
	
	<!-- 아이디 중복체크 관련 쿼리 -->
	<select id="idCheck" resultType="int" parameterType="String">
		
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = #{user_id}
	
	
	</select>
	
	
	<!-- 닉네임 중복 체크 관련 쿼리 -->
	<select id="nickNameCheck" resultType="int" parameterType="String">
		
		SELECT COUNT(*)
		FROM MEMBER
		WHERE NICKNAME = #{nickName}
	
	
	</select>
	
	
	<!-- 이메일 중복체크 관련 쿼리 -->
	<select id="emailCheck" resultType="int" parameterType="String">
		
		SELECT COUNT(*)
		FROM MEMBER
		WHERE EMAIL = #{email}
	
	
	</select>
	
	<!-- 회원가입 쿼리  -->
	
	<insert id="insertMember">
	INSERT INTO MEMBER VALUES (SEQ_USER_NO.NEXTVAL,#{user_id},#{user_password},#{nickname},#{email},#{gender},#{age},DEFAULT,DEFAULT,DEFAULT,#{user_name},SYSDATE,DEFAULT,DEFAULT,#{pass_cnt})

	</insert>
	
	
	<!-- 회원탈퇴 아이디 / 비밀번호 체크  -->
	<update id="deleteMemberCheck"  parameterType="Member">
		
		UPDATE MEMBER
		SET STATUS = 'N',PASS_CNT= 0
		WHERE USER_ID = #{user_id} AND USER_PASS = #{user_password}

	
	
	</update>
	
	<!-- 회원탈퇴 키운트 누적 쿼리  -->
	<update id="count_pass_cnt"  parameterType="Member">
		
		UPDATE MEMBER
		SET PASS_CNT = PASS_CNT+1
		WHERE USER_ID = #{user_id} 

	</update>
	
	
	<!--pass_cnt 초기화 쿠리  -->
	<update id="reset_pass_cnt"  parameterType="String">
		
		UPDATE MEMBER
		SET PASS_CNT = 0
		WHERE USER_ID = #{user_id} 

	</update>

	<!-- 회원탈퇴 카운트 검사 쿼리-->
	<select id="count_DeleteMemberCheck_Num" resultType="int" parameterType="Member">
			
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = #{user_id} AND PASS_CNT >=5
	
	
	</select>
	
	<!-- id찾기 -->
	<select id="find_id_result" parameterType="String" resultMap="memberResultSet">
		select user_id, user_name
		from member
		where email = #{email}
	</select>
	
	
	<!-- 내정보 수정 -->
    <update id="edit_my_Inform" parameterType="String">
        UPDATE MEMBER
        SET USER_NAME= #{user_name}, NICKNAME=#{nickname}, AGE=#{age}
        WHERE USER_ID= #{user_id}
    </update>
	
	
	<!--유저 프로필 db 저장 쿼리  -->
	<insert id="user_profile_change">
		INSERT INTO TABLE_FILE VALUES(SEQ_FILE_NO.NEXTVAL, #{fileName}, #{changeName}, #{filePath} , SYSDATE, #{fileYn}, #{refNo} ,#{refFlag})
	
	</insert>
	
	<!--유저번호에 해당하는 이미지 경로를 가져오는 쿼리  -->
	<select id="select_user_profile_changeName" resultType="String">
		
		SELECT CHANGE_NAME
		FROM TABLE_FILE
		WHERE REF_NO = #{refNo}

	</select>
	
	<!-- 승재씨 코드 -->
	      
   <!-- 비밀번호 찾기 -->
   <select id="findPwdresult" parameterType="String" resultMap="memberResultSet">
      select user_id, user_name
      from member
      where user_id = #{user_id}
   </select>
   
   
   
   <!-- 비밀번호찾기 아이디 이메일 일치확인 -->
   <select id="userIdemailCheck" parameterType="Member" resultType="int">
      SELECT count(*)
      FROM MEMBER
      WHERE USER_ID = #{user_id} AND EMAIL = #{email}
   </select>


   <!-- 비밀번호 변경 -->
   <update id="updatePwd" parameterType="Member">
        UPDATE MEMBER
        SET USER_PASS = #{user_password}
        WHERE USER_ID= #{user_id}
    </update>
    
	
   <!-- 비밀번호찾기 아이디 이메일 일치확인 -->
   <select id="select_userPw" parameterType="Member" resultType="String">
      SELECT USER_PASS
      FROM MEMBER
      WHERE USER_ID = #{user_id}
   </select>
   
   <select id="getListCount" resultType="_int">
      SELECT COUNT(*) 
      FROM RECIPE
      WHERE R_STATUS='Y'
   </select>
    
    <select id="selectmrList" resultMap="selectResult">
      select *
      from RECIPE
      where user_no = #{user_no} and r_status='Y'
      order by recipe_no
   </select>
   
   <resultMap type="com.kh.Final_cccc.recipe.model.vo.Recipe" id="selectResult">
      <id property="recipe_no" column="RECIPE_NO"/>
      <result property="recipe_title" column="RECIPE_TITLE"/>
      <result property="recipe_explain" column="RECIPE_EXPLAN"/>
      <result property="cooking_time" column="COOKING_TIME"/>
      <result property="user_no" column="USER_NO"/>
      <result property="material_no" column="MATERIAL_NO"/>
      <result property="sort_sub" column="SORT_SUB"/>
      <result property="sort_mate" column="SORT_MATE"/>
      <result property="sort_spec" column="SORT_SPEC"/>
      <result property="recipe_create_date" column="RECIPE_CREATEDATE"/>
      <result property="recipe_modify_date" column="RECIPE_MODIFYDATE"/>
      <result property="r_status" column="R_STATUS"/>
      <result property="view_count" column="VIEW_COUNT"/>
   </resultMap>
    
    <select id="selectmrfileList" resultMap="filesResultSet">
      select *
      from table_file, recipe
      where  recipe_no = ref_no and ref_flag=1 and user_no = #{user_no} and r_status='Y'
      order by ref_no
   </select>
   
   <resultMap type="com.kh.Final_cccc.Files.vo.Files" id="filesResultSet">
      <id property="fileNo" column="FILE_NO"/>
      <result property="fileName" column="FILE_NAME"/>
      <result property="changeName" column="CHANGE_NAME"/>
      <result property="filePath" column="FILE_PATH"/>
      <result property="uploadDate" column="UPLOAD_DATE"/>
      <result property="fileYn" column="FILE_YN"/>
      <result property="refNo" column="REF_NO"/>
      <result property="refFlag" column="REF_FLAG"/>
   </resultMap>
	
	
	

</mapper>
