<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipeMapper">
	<select id="selectsubList" resultMap="selectResult">
		select *
		from RECIPE
		where sort_sub = #{sort_no} and r_status ='Y'
		order by recipe_no
	</select>
	
	<select id="selectmateList" resultMap="selectResult">
		select *
		from RECIPE
		where sort_mate = #{sort_no} and r_status ='Y'
		order by recipe_no
	</select>
	
	<select id="selectspecList" resultMap="selectResult">
		select *
		from RECIPE
		where sort_spec = #{sort_no} and r_status ='Y'
		order by recipe_no
	</select>
	
	<resultMap type="com.kh.Final_cccc.recipe.model.vo.Recipe" id="selectResult">
		<id property="recipe_no" column="RECIPE_NO"/>
		<result property="recipe_title" column="RECIPE_TITLE"/>
		<result property="recipe_explain" column="RECIPE_EXPLAN"/>
		<result property="cooking_time" column="COOKING_TIME"/>
		<result property="user_no" column="USER_NO"/>
		<result property="material_no" column="MATERIAL_NO"/>
		<result property="sort_sub" column="SORT_SUB"/>
		<result property="sort_mate" column="SORT_MATE"/>
		<result property="sort_spec" column="SORT_SPEC"/>
		<result property="recipe_create_date" column="RECIPE_CREATEDATE"/>
		<result property="recipe_modify_date" column="RECIPE_MODIFYDATE"/>
		<result property="r_status" column="R_STATUS"/>
	</resultMap>
	
	<select id="selectRecipe" resultMap="selectResult">
		select * 
		from RECIPE
		where RECIPE_NO = #{recipeNo}
	</select>
	
	<select id="selectrMate" resultMap="selectRMResult">
		select rm.rm_no, rm.material_no, rm.recipe_no, ma.material_name, ma.standard, ma.kcal, ma.protein, ma.fat, ma.carbo, ma.sugar
		from recipe_mate rm, material ma
		where rm.material_no = ma.material_no
		and RECIPE_NO = #{recipeNo}
	</select>
	
	<resultMap type="com.kh.Final_cccc.recipe.model.vo.ReMaterial" id="selectRMResult">
		<id property="RM_no" column="RM_NO"/>
		<result property="material_no" column="MATERIAL_NO"/>
		<result property="recipe_no" column="RECIPE_NO"/>
		<result property="material_name" column="MATERIAL_NAME"/>
		<result property="standard" column="STANDARD"/>
		<result property="protein" column="PROTEIN"/>
		<result property="kcal" column="KCAL"/>
		<result property="fat" column="FAT"/>
		<result property="carbo" column="CARBO"/>
		<result property="sugar" column="SUGAR"/>
	</resultMap>
	
	<select id="selectProcess" resultMap="selectRPResult">
		select *
		from R_PROCESS
		where RECIPE_NO = #{recipeNo}
	</select>
	
	<resultMap type="com.kh.Final_cccc.recipe.model.vo.RecipeProcess" id="selectRPResult">
		<id property="rp_no" column="RP_NO"/>
		<result property="rp_comment" column="RP_COMENT"/>
		<result property="recipe_no" column="RECIPE_NO"/>
	</resultMap>
	
	<select id="selectMaterialList" resultMap="selectMtResult">
		select * 
		from MATERIAL 
		where CLASSFI = #{mNo}
	</select>
	
	<resultMap type="com.kh.Final_cccc.material.model.vo.Material" id="selectMtResult">
		<id column="MATERIAL_NO" property="materialNo"/>
		<result column="MATERIAL_NAME" property="materialName"/>
		<result column="STANDARD" property="standard"/>
		<result column="KCAL" property="kcal"/>
		<result column="PROTEIN" property="protein"/>
		<result column="FAT" property="fat"/>
		<result column="CARBO" property="carbo"/>
		<result column="SUGAR" property="sugar"/>
		<result column="CLASSFI" property="classFi"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	
	<insert id="insertRecipe" >
		INSERT INTO RECIPE VALUES(SEQ_RECIPE_NO.NEXTVAL, #{recipe_title}, #{recipe_explain},#{cooking_time}, #{user_no}, #{sort_sub}, #{sort_mate}, #{sort_spec}, sysdate, null, 'Y')
	</insert>
	
	<insert id="insertRecipeProcess">
		INSERT INTO R_PROCESS VALUES(SEQ_RP_NO.NEXTVAL, #{rp_coment}, SEQ_RECIPE_NO.CURRVAL)
	</insert>
	
	<insert id="insertRecipeMate">
		INSERT INTO RECIPE_MATE VALUES(SEQ_RM_NO.NEXTVAL, #{material_no}, SEQ_RECIPE_NO.CURRVAL, #{per_qnt})
	</insert>
</mapper>